*{box-sizing: border-box;}
body{
    margin: 0;
}

.nav1{
    margin: 10px;
    background-color: #4CAF50; 
    float: none;
}

.nav1 a{
    display: block;
    float: left;
    color: black;
    text-decoration: none;
}
.search-container .home{
    float: right;
}

a{
    padding: 10px;
    background-color: pink;
}

a:hover{
    color: black
}
