<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}">

</head>

<body>

 
    </div>
    <div class="login_div">
        <h3>Enter yout login creditenitals</h3>
        <form method="POST" action="/login">
            <label for=" first">
                Username:
            </label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>
            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <div class="login_sumbit">
                <button type="submit" value="login">
                    Submit
                </button>

            </div>
        </form>

        <p>Not registered?
            <a href="register" style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>
</body>

</html>