 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleprof.css">
    <title>NiggaBook</title>
</head>

<body>
    <div class="toolbar1">

        
        <!--<left>, searchbar, <mid>friends button , home button, <right> settings   -->
    </div>

    <div class="profile_header">
        <div class="banner">

        </div>
        <div class="profilepic">
            <!--profile pic should be split beetwen banner and empty spece of empty div or toolbar -->
        </div>
        <div class="empty">

        </div>
        <div class="toolbar2">

        </div>
    </div>

    <div class="biogram">
        <!--should be placed on the left side of site-->


        <!--where someone lives -->
        <!--where someone comes from-->
        <!--relationship status-->
        <!--alma mater-->
        <!--highschool, primary school -->
        <!--etc-->
    </div>

    <div class="activitycreator">
        <!--add a post, story, start a live etc-->
    </div>

    <div class="postfilter">
        <!--user can change view of the picturets that has been published, from the list to the gallery view (vice versa) -->
    </div>

</body>

</html>